<div class="container">
  <h1>Jelszó változtatása</h1>
  <ngb-alert *ngIf="successMessage" [type]="type" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <form [formGroup]="psResetForm" (ngSubmit)="makeRequestToResetLink(psResetForm.value,psResetForm.valid)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"  class="form-control" id="email" formControlName="email"/>
      <label for="password">Új jelszó</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <label for="confirmPassword">Jelszó megerősítése</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
