<div class="container">
  <h1>Jelszó változtatása</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="newpassword">Új jelszó</label>
      <input type="text" class="form-control" id="newpassword" required>
    </div>
    <div class="form-group">
      <label for="newpassword2">Jelszó megerősítése</label>
      <input type="text" class="form-control" id="newpassword2" required>
    </div>
    <a href="/home"><button type="submit" class="btn btn-success">Home</button></a>
    <button type="submit" class="btn btn-success" (click)="resetpassword">Modify</button>
</div>

