<div class="SpendingCreator" *ngIf="createSpendingAttempt" >
 
  <h2>Költés hozzáadása</h2>
  <div>
    Leírás: <input class="spendingNameInput" [(ngModel)]="spending.name" placeholder="leírás">
    <button id=startAddDebtorButton class="btn btn-primary" (click)="startAddDebtor()"  *ngIf="!addDebtorAttempt">Új személy hozzáadása</button>
    <button id=stopAddDebtorButton class="btn btn-danger" *ngIf="addDebtorAttempt" (click)="stopAddDebtor()">Mégse</button>
    
    <input class="addDebtorInput" [(ngModel)]="newDebtor.name" *ngIf="addDebtorAttempt" list="names" (input)="onSearchChange($event.target.value)">
    <datalist id="names">
      <option *ngFor="let name of searchList" value="{{name}}">
    </datalist>

    <button id=addDebtorButton class="btn btn-primary" *ngIf="addDebtorAttempt" (click)="addDebtor()" (click)="ngOnChanges()">OK</button>
    <!--<button (click)="addAllAsDebtor()" (click)=ngOnChanges()>Mindenki hozzáadása</button>-->
    Összeg: <input class="spendingAmountInput" [(ngModel)]="spending.moneyOwed" placeholder="összeg" (input)="ngOnChanges()">
    

    <p>Tartozók:</p>
    <ul>
      <li *ngFor="let member of spending.debtors">
          {{member.name}}
          Tartozás: <input class="spendingAmountMemberInput" [(ngModel)]="member.balance" placeholder="{{defaultBalance}}" (input)="ngOnChanges()">
          <!--<button (click)="removeDebtor(member)" (click)="ngOnChanges()">Személy elvétele</button>-->
          <a class="removeDebtorButton" href="#" (click)="removeDebtor(member)" (click)="ngOnChanges()"><img src="assets/noun_Minus_2331758.png" alt="Személy elvtétele"></a>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" (click)="createSpending()">Mentés</button>
  <button class="btn btn-danger" (click)="stopCreateSpendingAttempt()">Mégse</button>
  <p class=errorP>{{error}}</p>
</div>
