.spendingAmountMemberInput{
    color: black;
    font-weight: bold;
}

.spendingAmountMemberInput::placeholder{
    color:lightgray;
    font-style: italic;
}

img{
    max-width: 40px;
}

.SpendingCreator{
    padding: 10px;
    border: 1px solid;
    background-color: lightcyan;
}

*{
    align-content: stretch;
    align-self: stretch;
    align-items: stretch;
}

.errorP{
    color: red;
}
.errorAddDebtorP{
    text-align: center;
}