<div class=debtSettler *ngIf="selectedDebt">
  <h2>Megerősítés</h2>
  <p *ngIf="selectedDebt.optimisedDebtAmount > 0">
    Biztos, hogy szeretnéd {{selectedDebt.debtor.name}} {{selectedDebt.optimisedDebtAmount | currency}} értékű tartozását {{selectedDebt.creditor.name}} felé rendezni?
  </p>
  <p *ngIf="selectedDebt.optimisedDebtAmount == 0">
    {{selectedDebt.creditor.name}} felé nincs tartozásod!
  </p>
  <p *ngIf="selectedDebt.optimisedDebtAmount < 0" >
    Biztos, hogy szeretnéd {{selectedDebt.creditor.name}} {{0-selectedDebt.optimisedDebtAmount | currency}} értékű tartozását {{selectedDebt.debtor.name}} felé rendezni?
  </p>
  <button id=stopSettleDebtButton class="btn btn-danger" *ngIf="selectedDebt.optimisedDebtAmount != 0" (click)="stopSettleDebt()">Mégse</button>
  <button id=settleDebtButton class="btn btn-primary" (click)="settleDebt()">OK</button>
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{error}}</div>
</div>
