<div class="createGroupDiv">
  <button class="createGroupButton" *ngIf="!createGroupAttempt" (click)="startCreateGroup()">Új csoport létrehozása</button>
  <input class="groupNameInput" *ngIf="createGroupAttempt" [(ngModel)]="newGroup" placeholder="név">
  <button class="createGroupCancel" *ngIf="createGroupAttempt" (click)="stopCreateGroup()">Mégse</button>
  <button class="createGroupOK" *ngIf="createGroupAttempt" (click)="createGroup()">OK</button>
  <p>{{error}}</p>
</div>

<div class="groupListParent">
  <ul class="groupList">
    <li class="groupElement" *ngFor="let groupInfo of groupInfos">
      <a class="createSpendingButton" href="#" (click)="startCreateSpending(groupInfo)"><img src="assets/noun_Plus.png" alt="Költés hozzáadása"></a>
      <a (click)=selectGroup(groupInfo)>
      {{groupInfo.name}}
      <p>Létrehozta: {{groupInfo.creator}}</p>
      <p *ngIf="groupInfo.myCurrentBalance < 0">Egyenleg: tartozol {{0 - groupInfo.myCurrentBalance | currency}}-ral</p>
      <p *ngIf="groupInfo.myCurrentBalance == 0">Egyenleg: rendezett</p>
      <p *ngIf="groupInfo.myCurrentBalance > 0">Egyenleg: tartoznak neked {{groupInfo.myCurrentBalance | currency}}-ral</p>
      <p>Tagok: {{groupInfo.memberCount}}</p>
     </a>
    </li>
  </ul>
</div>

<app-spending-creator class="spendingCreator" [createSpendingAttempt]="createSpendingAttempt" [spendingForGroupData]="spendingForGroupData" [spending]="modifiableSpending" [modifySpendingAttempt]="modifySpendingAttempt"  (createSpendingAttemptStop)="stopCreateSpendingAttempt()" (updateSelectedGroupEvent)='updateSelectedGroup()'></app-spending-creator>

<app-group-detail class="groupDetail" [groupData]="selectedGroup" [spendings]="selectedGroupSpendings" (startSpendingCreation)="startCreateSpending($event)" (startSpendingModification)="startModifySpending($event)"></app-group-detail>
<div class="clear"></div>
