li{
    border-bottom-style: solid;
    border-bottom-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    list-style-type: none;
}
p {
    line-height:100%
}
ul{
    padding: 0;
    margin: 0;
}
li:hover{
    background-color: lightcyan;
}

a{
    text-decoration: none;
    color: darkcyan;
}

.createGroupButton, .createGroupOK{
    background-color: royalblue;
    color: white;
}
.createGroupOK{
    width: min-content;
}
.createGroupButton{
    width: 100%;
}
.groupNameInput{
    width: 100%;
}

.createGroupCancel{
    background-color: red;
    color: white;
}
.createGroupOK, .createGroupCancel{
    width: 50%;
}
.createGroupDiv{
    width: 20%;
}

.groupDetail{
    width: 80%;
    background: lightcyan;
    display: inline-block;
	float: left;
}
.groupList{
    display: inline-block;
}
.groupElement p{
   line-height:20%
}
.groupListParent{
	width: 20%;
	float: left;
}
.clear{
	clear: both;
}