/* Colors
    - #F80652 - error text, important button text
    - #E8F1F8 - background
    - #ADC4D6 - notifications background, errors background
    - #222F3F - button color
    - #E8F1F8 - button text color
    - #101C28 - text color, button hoover color
*/

/* Bootstrap customizing */
@import 'customize-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

/* Common styles*/
.page-container {
    height: 100vh;
    color: #101C28;
    background: #E8F1F8;
}
