<div class="page-container">
  <div class="register-container">
    <h2>Regisztráció</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Email</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.username.errors }" />
            <div *ngIf="submitted && registerForm.controls.username.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.username.errors.required">A felhasználónév megadása kötelező</div>
            </div>
        </div>
        <div class="form-group">
            <label for="displayname">Megjelenített név</label>
            <input type="text" formControlName="displayname" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.displayname.errors }" />
            <div *ngIf="submitted && registerForm.controls.displayname.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.displayname.errors.required">A megjelenített név megadása kötelező</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Jelszó</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.password.errors }" />
            <div *ngIf="submitted && registerForm.controls.password.errors" class="invalid-feedback">
                <div *ngIf="registerForm.controls.password.errors.required">A jelszó megadása kötelező</div>
            </div>
        </div>
        <div class="form-group">
            <recaptcha [formControl]="myRecaptcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()"></recaptcha>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Regisztráció</button>
            <span *ngIf="loading" class="fas fa-spinner"></span>
            <a [routerLink]="['/login']" class="btn btn-link">Vissza</a>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>