li{
    border-bottom-style: solid;
    border-bottom-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    list-style-type: none;
    cursor: pointer;
}
p {
    line-height:0%
}
ul{
    padding: 0;
    margin: 0;
}
li:hover{
    background-color: lightcyan;
}

.groupDetails{
    display: inline-block;
}
.debtOfDebtor{
    color:#3BB300;
}
.debtSettler{
    min-width: 300px;
    width: 30%;
    max-width: 500px;
    z-index: 10;
    position: fixed;
    vertical-align: center;
    align-content: center;
}

.defaultDebtOfDebtor{
    color:#E60000;
}
.debtorData > div{
    display: inline-block;
}

img{
    max-width: 75px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: lightcyan;
    width: fit-content;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }

.groupSpendingDetails > ul > li{
    margin-top: 2em;
}

.groupSpendingDetails h4{
    font-weight: bolder;
}