<div class="groupDetails" *ngIf="group">
 
  <h2>{{group.name}} Details</h2>
  <div>
    <p>Created by {{group.creator}}</p>
    <p *ngIf="group.balance<0">Balance: You owe {{0-group.balance | currency}}</p>
    <p *ngIf="group.balance==0">Balance: Settled up</p>
    <p *ngIf="group.balance>0">Balance: You are owed {{group.balance | currency}}</p>
    <p>Members ({{group.members.length}}):</p>
    <ul>
      <li *ngFor="let member of group.members">
          {{member}}
      </li>
    </ul>
  </div>
</div>