<div class="groupDetails" *ngIf="group">
 
  <h2>{{group.name}}</h2>
  <div>
    <p>Létrehozta: {{group.creatorUser.displayName}}</p>
    <p *ngIf="group.balance<0">Egyenleg: tartozol {{0-group.balance | currency}}-ral</p>
    <p *ngIf="group.balance==0">Egyenleg: rendezett</p>
    <p *ngIf="group.balance>0">Egyenleg: tartoznak neked {{group.balance | currency}}-ral</p>
    <p>Tagok ({{group.memberCount}}):</p>
    <ul>
      <li *ngFor="let member of group.members">
          {{member.displayName}}
      </li>
    </ul>
  </div>
</div>